
<b><h3>General information :</h3></b><br>

Database directory : $DATABASE_DIR<br>
Identified studies : <i>$STUDIES ($NUMBER_OF_STUDIES studies)</i><br>
Identified users : <i>$USERS ($NUMBER_OF_USERS users)</i><br>
Total space on $DATABASE_DIR : <b>$TOTAL_SPACE</b><br>
Used space : <b>$USED_SPACE</b><br>
Free space : <b>$FREE_SPACE ($PERCENTAGE)</b><br>
<br>
<b><h3>Summary information on directories :</h3></b><br>
$SUMMARY_ON_DIRECTORIES
<br>
<b><h3>Summary information on users :</h3></b><br>
$SUMMARY_ON_USERS

$SUMMARY_ON_UNDECLARED_DIRS

$SUMMARY_ON_UNDECLARED_USERS
<br><br>
